body {

    margin: 0; 
    padding: 0; 
}

.home-navi {
    top: 8%;
    position: fixed;
    z-index: 10;
}
.home-category {
    background-image: url(../static/img/city.jpg);
    position: fixed;
    width: 35%;
    height: 100%;
    background-size: cover;
    filter: blur(3px)
}

.home-content {
    float:right;
    width:65%;
    height:100%;
    background-color:white;
}

.home-content a {
    text-decoration-line: none;
    color: #15adf3;
}

.home-profile-photo {
    border: 1px solid #fff;
    background-image: url(../static/img/profile.jpg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:relative;
    top: 20%;
    margin: auto;
    background-size: contain;
}

.home-profile-info {
    text-align: center;
    margin: 40px 0 18px 0;    
    }

.home-profile-name {
    text-align: center;
    color:white;
    font-family: fantasy;
    font-size: normal;
}

.home-profile-story {
    color:whitesmoke;
    font-family: monospace;
    font-weight: lighter;
    font-size: medium;
    margin: 0 50px;
}

.home-category-slag {
    margin: 0 30px;
}

.home-category-leftlist li, .home-category-rightlist li {
    height: 30px;
    line-height: 30px;
    list-style: none;
    margin: 16px 20px;
}

.home-category-leftlist li a:hover, .home-category-rightlist li a:hover {
    color: #000;
}

.home-category-leftlist li > a > span {
    margin-right: 8px;
}

.home-category-leftlist  a, .home-category-rightlist a {
    text-decoration-line: none;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-category-leftlist {
    display: inline-block;
    padding: 0 0 0 30px; 
}

.home-category-rightlist {
    float: right;
    display: inline-block;
    padding: 0 30px 0 0;
}

.home-headline {
    margin:20px; 
    padding: 0 0 20px; 
    border-bottom: 2px solid rgba(144, 144, 144, 0.2);
}

.home-headline-title {
    margin-bottom :0;  
    font-family: arial;
}

.home-headline-content {
    margin-bottom:20px;
    word-break:break-all;
    color:#2f2f4f;
    font-family:centaur;
}

.home-headline-link {
    text-decoration:none;
}

.home-headline-image {
    margin-top:20px; 
    max-width:100%;
}

.album {
    height: 200px;
    border-bottom: 2px solid rgba(144, 144, 144, 0.2);
    margin: 20px;
}

.album-cover {
    float: left;
    width: 35%;
    height: 100%;
    text-align: center;
}

.album-desc {
    float: right;
    width: 65%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.album-desc h3 {
    font-family: monospace;
    color: #000;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 10px;
}

.album-desc h4 {
    font-family: cursive;
    color: #000;
    font-size: small;
    font-weight: lighter;
}

.album-desc p {
    font-family: monospace;
    color: #000;
    font-size: normal;
    font-weight: bold;
    margin-bottom: 40px;
}

.album-cover > img {
    margin-top: 17px;
}

time {
    color: grey;
}


